.page1
{
    margin-top: 50px;
    text-align: center;
    margin-left: 30px;
}
.p2
{
    text-align: center;
    margin-top: 200px;
    margin-left: 50px;
}
.scroll
{
    margin-top: 10px;
    background-color: rgb(218,41,28);
    margin-bottom: 10px;
    height: 100px;
}
.hea{
    font-size: 20px;
}
.sel
{
    display: flex;
position: sticky;
top: 0;
justify-content: space-evenly;
    background-color: rgb(255, 179, 0);
    text-decoration: none;
}
h1{
    font-size: 30px;

}